# node_modules contain the code for the dependencies that your project relies on
node_modules/*


# IntelliJ environment files (not necessary if you aren't using IntelliJ)

.idea/*

# insightUBC project
# Checkout Section 5.5 of C0 for more information

data/*

test/*

# Build files
dist/*

# Normal Things
.DS_Store
.env
*.log
